<% include partials/header.ejs %>


     <div class="wrapper">
                <div class="profile-grid">
                    <div class="grid-profile-picture">
                    <img class="profile-picture" src=<%=member.img%>  alt=<%= member.firstName%>>
                    </div>
                    <div class="grid-profile-description">
                        <h3>
                        <%= member.firstName + " " + member.lastName%>
                        </h3>
                        <hr>
                        <h5><%= member.role %></h5>
                        
                        <p><i class="fas fa-mobile-alt"></i><%=member.phone%></p>
                        <p id="email"><i class="far fa-envelope"></i><%= member.email %></p>
                        
                        <% member.about.forEach(function(about){%>
                            <p><%= about %></p>
                        <% }) %>

                        <a href= <%= member.linkedIn %> target="_blank"><button>LinkedIn</button></a>
                        
                </div>
            </div>
        </div>
       
<% include partials/footer.ejs %>